body {
  background-color: #efe9e3;
  font-family: Helvetica, Arial, sans-serif;
}

a {
  color: #749e8b;
}

.container {
  margin: 120px auto;
  max-width: 600px;
}

h1 {
  text-align: center;
  font-size: 38px;
  font-weight: 800;
  line-height: 1.5;
  color: #393d41;
}

.form-container {
  padding: 30px 30px 15px;
  border-radius: 10px;
  margin-bottom: 30px;
  background-color: #f9f8f6;
  box-shadow: 0px 20px 50px #d9cfc7;
}

form {
  display: flex;
}

.hint {
  color: #393d41b4;
  font-size: 12px;
  line-height: 1.5;
  margin-top: 5px;
  padding-left: 20px;
}

.prompt {
  padding: 15px 24px;
  border: 1px solid #beb6afc4;
  border-radius: 50px;
  width: 80%;
  font-size: 16px;
}

.submit-button {
  background-color: #b1d3b9;
  color: #393d41;
  border: none;
  border-radius: 50px;
  padding: 15px 24px;
  font-size: 16px;
  margin-left: 10px;
}

.poem {
  color: #393d41;
  background-color: #f9f8f6;
  padding: 20px 10px;
  line-height: 2;
  text-align: left;
  font-size: 16px;
  border-left: 5px solid #b1d3b9;
  box-shadow: 0px 20px 50px #d9cfc7;
  border-radius: 2px;
}

.poem strong {
  color: #749e8b;
}

.hidden {
  display: none;
}

footer {
  margin-top: 35px;
  font-size: 15px;
  text-align: center;
  color: #393d41ad;
}

@keyframes spin {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

.loading {
  animation: spin 2s linear infinite;
  display: inline-block;
}
